$primary-color: #2BB3B1;
$secondary-color: #4ABEBD;
$dark-color: #218381;

$light-color: #FFFFFF;
$neutral-color: #A5A7B4;

$background-color: #E6EFF6;

$bright-green-color: #BFDF32;
$dark-green-color: #ABC82D;